<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
<div class="row">
    <div class="mx-auto" id="input-id">
            <div>
                <p class="alert alert-danger" *ngIf="invalid">{{ errorMsg }}</p>
            </div>
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input 
                    type="file" 
                    class="custom-file-input" 
                    id="inputGroupFile01" 
                    aria-describedby="inputGroupFileAddon01" 
                    (change)="onImageSelect($event)" 
                    accept="image/jpeg"
                    #inputTag>
                    <label class="custom-file-label" for="inputGroupFile01">{{ fileName }}</label>
                </div>
            </div>
    </div>
    <img #imgTag src="{{ data }}" style="display: none;" height="1px" (load)="onImageLoad()" hidden>
</div>