<app-header (optionSelected)="showOption($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-file-input *ngIf="option === 'file'" (fileDetails)="filePicked($event)"></app-file-input>
      <app-files-list *ngIf="option === 'file'" [fileList]="fileListSelected" (deletedIndex)="markerToDelete($event)"></app-files-list>
      <app-map [markers]="markersList" *ngIf="option === 'map'"></app-map>
      <!-- <my-app></my-app> -->
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->