<div class="row">
    <div class="mx-auto">
        <table *ngIf="fileList.length > 0" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name & Type</th>
                    <th scope="col">Size</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longtitute</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let file of fileList; let i = index">
                    <td><img [src]="file.thumbnail" alt="" height="100px"></td>
                    <td>{{ file?.fileName }}</td>
                    <td>{{ file?.fileSize }} KB</td>
                    <td>{{ file?.latitude }}</td>
                    <td>{{ file?.longitude }}</td>
                    <td><button (click)="deleteRecord(i)" class="btn btn-danger">X</button></td>
                </tr>
            </tbody>
            </table>
    </div>
</div>