/* You can add global styles to this file, and also import other style files */
body {
    min-height: 100vh;
    position: relative;
    margin: 0;
  }
  
  footer {
    position: absolute;
    bottom: 0;
  }